form {
    background-color: #7f50e4;
    width: 20%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

label {
    display: block;
    font-weight: bold;
}

textarea, input {
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
}